BasedOnStyle: Microsoft
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
SortIncludes: true
IncludeCategories:
  - Regex:           '^<[a-z]+>'
    Priority:        1
  - Regex:           '^<[^>]+>'
    Priority:        2
  - Regex:           '^"'
    Priority:        3
ColumnLimit: 130
